/* RESET DASAR */
body {

margin: 0;
padding: 0;

height: 100vh;

display: flex;
flex-direction: column;

align-items: center;

background: url("bg-stars.jpg");
background-size: cover;
background-position: center;
background-attachment: fixed;

font-family: 'Segoe UI', sans-serif;

color: white;

overflow-x: hidden;

}


/* JUDUL */
.title {

font-size: 28px;

color: #8B4513;

margin-top: 15px;

text-align: center;

animation: glow 2s infinite alternate;

}

@keyframes glow {

from {
text-shadow: 0 0 5px #fff;
}

to {
text-shadow: 0 0 15px #fff;
}

}


/* MARQUEE TEXT */
.marquee {

width: 100%;

overflow: hidden;

white-space: nowrap;

margin-top: 5px;

}

.marquee span {

display: inline-block;

animation: slideText 10s linear infinite;

font-size: 16px;

}

@keyframes slideText {

from {
transform: translateX(100%);
}

to {
transform: translateX(-100%);
}

}


/* FOTO GRID */
.photo-grid {

display: grid;

grid-template-columns: 1fr 1fr;

gap: 10px;

width: 90%;

max-width: 500px;

margin-top: 15px;

}

.photo-grid img {

width: 100%;

height: 130px;

object-fit: cover;

border-radius: 12px;

animation: zoomIn 6s infinite alternate;

}

@keyframes zoomIn {

from {
transform: scale(1);
}

to {
transform: scale(1.05);
}

}


/* TEKS ROMANTIS */
.text-green {

color: #7CFC00;

text-align: center;

padding: 15px;

font-size: 15px;

line-height: 1.6;

max-width: 90%;

animation: fadeIn 2s;

}

@keyframes fadeIn {

from {
opacity: 0;
}

to {
opacity: 1;
}

}


/* PLANET SATURN */
.saturn {

width: 80px;

margin-top: 10px;

animation: floatPlanet 3s infinite alternate;

}

@keyframes floatPlanet {

from {
transform: translateY(0);
}

to {
transform: translateY(-15px);
}

}


/* TOMBOL NAVIGASI */
.nav-btn {

position: fixed;

bottom: 20px;

font-size: 28px;

text-decoration: none;

color: white;

}

.nav-btn.right {

right: 20px;

}

.nav-btn.left {

left: 20px;

}


/* EFEK FADE PAGE */
.fade {

animation: fadePage 1s;

}

@keyframes fadePage {

from {
opacity: 0;
}

to {
opacity: 1;
}

}2
